<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="titulo">
        <p>Sobre Nosotros</p>
    </div>

    <div class="grid">
        <div class="nested-grid">
            <c>Lorem, ipsum dolor.</c>
            <d>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, optio! Libero necessitatibus consequatur aliquid cupiditate odio quidem incidunt ipsam praesentium earum ad, facilis debitis, excepturi possimus maiores quasi delectus voluptatibus.</d>
            <c>Lorem, ipsum dolor.</c>
            <d>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero provident placeat, veniam perferendis culpa porro quis doloremque illo dignissimos unde, quo repellat vel reprehenderit recusandae rem blanditiis harum, nostrum corrupti.
            </d>
        </div>
        <div>
            <o>IMG</o>
        </div>
        <div class="nested-grid">
            <c>Lorem, ipsum dolor.</c>
            <d>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, modi quasi nobis non magnam pariatur illo voluptatem reprehenderit quo vel? In voluptatibus eveniet saepe. Nemo doloribus ratione aliquid perferendis saepe.</d>
            <c>Lorem, ipsum dolor.</c>
            <d>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat consectetur quis aliquid voluptatem cum reiciendis a voluptatibus. Quas, enim. Quis nihil, in sint aspernatur explicabo sunt enim rerum amet voluptatum.</d>
        </div>
        <div>
            <o>IMG</o>
        </div>
    </div>

</body>

</html>