<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel=" preconnect " href="https://fonts.gstatic.com/ " crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap " rel="stylesheet ">
    <title>MetaSalud</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">

        <nav class="nav" id="nav-menu">
            <a href="# "><img src="/img/logo.png " alt="#"></a>
            <ul class="ul-menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Vacunacion</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Soporte</a></li>
            </ul>
        </nav>
    </header>
    <div class="container-vector">
        <div class="container-text">
            <h1>BIENVENIDOS A</h1>
            <h1 style="color: #FEBA0B;">METASALUD</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate fugit nisi modi deleniti voluptatum quas obcaecati? Iure, repudiandae? Ducimus non tenetur praesentium amet. Alias eius saepe numquam veritatis, non magni illo sunt quia
                fugit aspernatur.
            </p>
            <button class="container-button"><a href="">Ver Más</a></button>
        </div>

        <img class="img-vector" src="/img/vector-vacuna.png" alt=" ">
    </div>


</body>

</html>